<h1>User</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Number</th>
      <th scope="col">Order History</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.number %></td>
        <td><%= button_to 'Download', create_order_history_user_path(user), method: :post, remote: true, data: { id: user.id, 'download-orders': true } %></td>
      </tr>
    <% end %>
</table>

<%= paginate @users %>

<%= javascript_pack_tag 'download_order_history' %>
